.input-element__container {
    display: flex;     
    flex-direction: column; 
    width: -webkit-fill-available;
    grid-gap: 0.5rem
}

.input-element__label {
    font-family: math;
    color: black;
    font-weight: 600;
}

.input-element__input {
    outline: none;
    border-radius: 8px;
    height: 30px;
    min-width: 200px;
    border-color: lightgray;
    padding: 5px 10px;
}

.input-element__input__error {
    border-color: red;
}

.input-element__error {
    position: relative; 
    height: 0;     
    color: darkred;
    font-family: math;
}