<div class="table-element__container">
    <table class="table-element__table">
        <tr class="table-element__header">
          <th class="table-element__td-th">Logo</th>
          <th class="table-element__td-th">Nombre del producto</th>
          <th class="table-element__td-th">Descripción</th>
          <th class="table-element__td-th">Fecha de Liberacion</th>
          <th class="table-element__td-th">Fecha de reestructuración</th>
        </tr>
        <tr *ngFor="let element of elementsToShow">
            <td class="table-element__td-th">{{element.logo}}</td>
            <td class="table-element__td-th">{{element.name}}</td>
            <td class="table-element__td-th">{{element.descripton}}</td>
            <td class="table-element__td-th">{{element.dateRelease}}</td>
            <td class="table-element__td-th">{{element.dateRevision}}</td>
        </tr>
      </table>
      <div class="table-element__paginator">
        <p>{{ elementsToShow.length }} Resultados</p> 
        <div class="table-element__paginator__buttons">
            <button class="table-element__paginator__button" style="margin-right: 1rem;"> < </button>
            <button class="table-element__paginator__button"> > </button>
        </div>
      </div>
      <div class="table-element__select-container">
        <div class="table-element__select">
            <select name="select" >
                <option *ngFor="let paginatorelement of amountToShow" [value]="paginatorelement.value">{{ paginatorelement.label}}</option>
              </select>
          </div>
      </div>

</div>

  