.add-bank-account__container {
    display: flex;
    flex-direction: column; 
    margin: 10rem 20rem;
    background: white;
    border-radius: 5px;
}

.add-bank-account__tittle {
    font-size: 1.5em;
    font-family: math;
    text-align: center;
    color: black;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.add-bank-account__formulario {
    padding: 1rem; 
    height: -webkit-fill-available; 
    display: grid; 
    align-content: space-between;
}

.add-bank-account__formulario__fields {
    display: flex; 
    flex-wrap: wrap; 
    grid-gap: 4%;
}

.add-bank-account__formulario__input {
    display: block; 
    width: 48%; 
    margin-bottom: 2rem;
}

.add-bank-account__formulario__buttons {
    margin-bottom: 1rem; 
    margin-top: 2rem; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}