<div class="add-bank-account__container">
    <h1 class="add-bank-account__tittle">Formulario de Registro</h1>
    <form class="add-bank-account__formulario"  #addFormtp="ngForm">
        <div class="add-bank-account__formulario__fields">
            <app-input-element *ngFor="let element of formfieldList" class="add-bank-account__formulario__input"
            [control]="element.main" [controlConfiguration]="element.complement"></app-input-element>
        </div>
        <div class="add-bank-account__formulario__buttons">
            <app-action-button *ngFor="let button of buttons; let j = index" [button]="button" 
            [disabled]="addForm.invalid && button.couldDisabled || addForm.pristine && button.couldDisabled || editDisabled && j === 0"  
            (clickedButton)="catchClick(button.label)"></app-action-button>
        </div>
    </form>
</div>
